*, ul, li {
  text-align: center;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

ul.dijkstra_grid {
  margin: none;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(32, 1fr);
  
}

ul.dijkstra_grid > li {
  background-color: cadetblue;
  height: 25px;
  width: 25px;
  line-height: 5em;
  border: .5px solid white;
  position: relative;
}
ul.dijkstra_grid > li button {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
button.origin {
  background-color: greenyellow;
  border: none;
}
button.target {
  background-color: rgb(255, 0, 0);
}
ul.dijkstra_grid > li.wall {
  background-color: white;
}

ul.dijkstra_grid > li:hover {
  opacity: 80%;
  cursor: pointer;
}